html, body, input
{
	font-family: Avenir, Helvetica, sans-serif;
}

a           { color: #862633; font-weight: bold; }
a:visited   { color: #862633; }
a:hover     { color: #cc9999; }

p.footnote
{
  font-size: smaller;
  font-style: italic;
}

td.numeric
{
	text-align: right;
}
