<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Clowder: Machines</title>
	<link type="text/css" rel="stylesheet" href="/static/musec.css"/>
</head>

<body>

<h1><a href="/">Clowder</a></h1>
<h2><a href="/machines/">Machine inventory</a></h2>

<a href="/machine/create">Add new machine</a>
<th><form action="/machines/GetUnreserved/" method="post">
			<input type="submit" value="Available Machines"></input>
			<th></form>


<table>
	<thead>
		<th><form action="/machines/Filter_M_By_Dates/" method="post">
			<input type="submit" value="FilterByTime"></input>
			<th>
				<input name="from" value="from"></input> 
				
			</th>
			<th>
				<input name="to" value="to"></input>	
				
			</th>
			</form></th>

		<th><form action="/machines/FilterByMemory/" method="post">
			<input type="submit" value="FilterByMemory"></input>
			<th>
				<input name="min" value="?"></input> 
				
			</th>
			<th>
				<input name="max" value="?"></input>	
				
			</th>
			</form></th>


		<tr>
			<th><a href="/machines/Sort_By_Name/">Name</a></th>
			<th><form action="/machines/Sort_By_Arch/" method="post">
					<input type="submit" value="Arch"></input>
			<select name="arch">
					
					<option value="amd">amd</option>
					<option value="intel">intel</option>
			
			</select></form></th>
			
			<th><form action="/machines/Sort_Microarch/" method="post">
					<input type="submit" value="Microarch"></input>
			<select name="microarch1">
					
					<option value="core">core</option>
					<option value="dual">dual</option>
					<option value="i7">i7</option>

			
			</select></form></th>
			<th><a href="/machines/Sort_Cores/">Cores</a></th>
			<th><a href="/machines/Sort_Memory/">Memory</a></th>
		</tr>
	</thead>

	<tbody>
		{{ range . }}
			<tr>
	          <form action="update?id={{.Id}}" method="post"><td><a href="/machine/?name={{ .Name }}">{{.Name}}</a></td>
			<td><input type="text" name="arch" size="6" value="{{ .Architecture }}"></input></td>
			<td><input type="text" name="microarch" size="6" value="{{ .Microarchitecture }}"></input></td>
			<td><input type="text" name="cores" size="6" value="{{ .Cores }}"></input></td>
		        <td><input type="text" name="memory" size="6" value="{{ .MemoryGB }} GB"></input></td>
			<td><input type="submit" value="update" name="save"></input></td></form>
		       	</tr>
		{{ end }}
	</tbody>
</table>
</body>
</html>
