<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Clowder: reservations</title>
	<link type="text/css" rel="stylesheet" href="/static/musec.css"/>
</head>

<body>

<h1><a href="/">Clowder</a></h1>
<h2><a href="/reservations/">Reservations</a></h2>


<a href="/reservation/create/">Make new reservation</a>
<table>
	
		
	<thead>
		    <th><form action="/reservations/FilterBy/" method="post">
			<input type="submit" value="FilterBy"></input>
			<th>
				<input name="start" value="start date"></input> 
				
			</th>
			<th>
				<input name="end" value="end date"></input>	
				
			</th>
			</form></th>
	
		<tr>
		

			<th>User</th>
			<th><a href="">Machine</a></th>
			<th><a href="/reservations/Sort_Start/">Start</a></th>
			<th><a href="/reservations/Sort_End/">End</a></th>
			<th>Ended</th>
			<th>PXE</th>
			<th>NFS</th>
		</tr>
	</thead>
	<tbody>
		{{ range . }}
			<tr>
				<td>{{ .User.Username }}</td>
				<td>{{ .Machine.Name }}</td>
				<td>{{ .Start | fdatetime }}</td>
				<td>{{ .End | fdatetime }}</td>
				<td>{{ .Ended | fdatetime }}</td>
				<td>{{ .PxePath }}</td>
				<td>{{ .NfsRoot }}</td>
				<td>
				<form action="Ended?id={{.Id}}" method="post">
				<input type="submit" value="Ended" name="ended"></input>
				</form>

				</td>
			</tr>
		{{ end }}
	</tbody>
</table>
</body>
</html>
